<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>

<div class="container">
  <h2>Todas las ofertas</h2>
  <form class="form-inline mt-2 mb-2" action="/offer/listAll">
    <div class="form-group">
      <input name="searchText" type="text" class="form-control" size="50"
             placeholder="Titulo de la oferta">
    </div>
    <button type="submit" class="btn btn-default border border-primary"
            th:text="#{offer.search}"></button>
  </form>
  <p th:text="#{offer.actualoffers}"></p>
  <div class="table-responsive">
    <table class="table table-hover" id="tableUsers">
      <thead>
      <tr>
        <th scope="col"><span th:text="#{offer.title}"></span></th>
        <th scope="col"><span th:text="#{offer.description}"></span></th>
        <th scope="col"><span th:text="#{offer.price}"></span></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="offer : ${offersList}" >
        <td scope="row" th:text="${offer.title}">Oferta 1</td>
        <td scope="row" th:text="${offer.description}">Oferta 2</td>
        <td scope="row" th:text="${offer.price}">2€</td>
        <td th:if="${offer.status=='ACTIVE'}" ><a class="offerBotiItem" th:id="${offer.id}" th:href="${'/offer/buy/' + offer.id} ">Comprar</a>
        </td>
        <td th:if="${offer.status=='SOLD'}" >Vendido
        </td>
        <td th:id="${offer.title} + ${offer.creator.email}" scope="row">
          <a th:href="@{'/chat/' + ${offer.id} + '/' + ${#authentication.principal.username}}" class="btn btn-primary"
            th:text="#{chat.create}"></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
