<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>

<div class="container">

    <h2><span th:text="#{offer.myBoughts.title}">T</span></h2>

    <div class="table-responsive">
        <table class="table table-hover" id="tableMyBoughts">
            <thead>
            <tr>
                <th scope="col"><span th:text="#{offer.title}"></span></th>
                <th scope="col"><span th:text="#{offer.description}"></span></th>
                <th scope="col"><span th:text="#{offer.price}"></span></th>
                <th scope="col"><span th:text="#{offer.creator}"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offer : ${myBoughtsList}">
                <td scope="row" th:text="${offer.title}">t</td>
                <td scope="row" th:text="${offer.description}">d</td>
                <td scope="row" th:text="${offer.price}">p</td>
                <td scope="row" th:text="${offer.creator}">e</td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>