<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <a class="navbar-brand" href="#"></a>
    <!-- <img src="/images/logo-wallapop.png" alt="logo"/> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
            <li class="nav-item ">
                <a class="nav-link" href="/home">
                    <i class='fas fa-home' style='font-size:16px'></i>
                    <span th:text="#{nav.home}"></span><span class="sr-only">(current)</span>
                </a>
            </li>
<!--            <li class="nav-item " sec:authorize="isAuthenticated()">-->
<!--                <a class="nav-link">-->
<!--                    <span th:text="#{nav.user}"> </span><b th:text="${user.email}"></b>-->
<!--                    <span th:text="#{nav.credit}"> </span><b th:text="${user.money}"></b>-->
<!--                </a>-->
<!--            </li>-->
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link" href="/user/list">
                    <i class='fas fa-user-alt' style='font-size:16px'></i>
                    <span th:text="#{nav.users}"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/offer/listAll">
                    <i class='fas fa-money-bill' style='font-size:16px'></i>
                    <span th:text="#{nav.allOffers}"></span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <a class="nav-link" href="/chat/list">
                    <i class='fas fa-comment' style='font-size:16px'></i>
                    <span th:text="Chats"></span>
                </a>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')">
                <a class="nav-link dropdown-toggle" href="#" id="offerDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{nav.myoffers}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item" href="/offer/my"
                       th:text="#{nav.seemyoffers}">Ver mis ofertas</a>
                    <a sec:authorize="hasRole('ROLE_USER')" class="dropdown-item" href="/offer/add"
                       th:text="#{nav.addoffer}">Añadir oferta</a>
                </div>

            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="logsDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{nav.logs.title}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="/log/list"
                       th:text="#{nav.logs.list}">L</a>
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="/log/deleteAll"
                       th:text="#{nav.logs.deleteAll}">D</a>
                </div>

            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="btnLanguage" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class='fas fa-language' style='font-size:16px'></i>
                    <span th:text="#{language.change}"></span>
                </a>
                <div id="languageDropdownMenuButton" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a
                            class="dropdown-item" id="btnEnglish" value="EN">
                        <img th:src="@{/images/if_uk_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                        <span
                                th:text="#{language.en}">Inglés</span> </a> <a class="dropdown-item" id="btnSpanish"
                                                                               value="ES">
                    <img th:src="@{/images/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
                    <span th:text="#{language.es}">Español</span>
                </a>
                </div>
            </li>

            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/signup" id="signupbtn">
                    <i class='fas fa-user-alt' style='font-size:16px'></i>
                    <span th:text="#{signup.message}"></span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" href="/login">
                    <i class='fas fa-sign-in-alt' style='font-size:16px'></i>
                    <span th:text="#{login.message}"></span>
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class='fas fa-sign-out-alt' style='font-size:16px'></i>
                    <span th:text="#{nav.logout}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>