<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2><span th:text="#{log.title}"></span></h2>


    <form class="form-inline" action="/log/list">
        <label class="control-label col-sm-3 ml-30"  for="typeFilter" th:text = "#{log.filter.title}"></label>
        <div class="col-sm-10" th:if="${typesList != null and not #lists.isEmpty(typesList)}">
            <select id="typeFilter" class="form-control" name="typeToFilter" >
                <option th:each="type : ${typesList}"
                        th:value="${type.toString()}"
                        th:text="${type.toString()} ">
                </option>
            </select>

            <button type="submit" class="btn btn-dark" th:text="#{log.filter.btn}">F</button>
        </div>
    </form>
    <br>
    <p>Actividades:</p>
    <div class="table-responsive" id="tableLogs">
            <table class="table table-hover" >
                <thead>
                <tr>
                    <th scope="col"><span th:text="#{log.table.header.type}"></span></th>
                    <th scope="col"><span th:text="#{log.table.header.timestamp}"></span></th>
                    <th scope="col"><span th:text="#{log.table.header.description}"></span></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="log : ${logsList}">
                    <td scope="row" th:text="${log.type}">T</td>
                    <td scope="row" th:text="${log.timestamp}">Ts</td>
                    <td scope="row" th:text="${log.description}">D</td>
                </tr>
                </tbody>
            </table>
    </div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
