<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
  <h2><span th:text="#{signup}"></span></h2>
  <form class="form-horizontal" method="post" action="/signup" th:object="${user}">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email"><span th:text="#{login.mail}"></span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" name="email"
               placeholder="ejemplo@uniovi.es" required/>
        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name"><span th:text="#{signup.name}"></span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" name="name"
               placeholder="Ejemplo: Juan José" required/>
        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="surname"><span th:text="#{signup.surname}"></span></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="surname" name="surname"
               placeholder="Ejemplo: Peréz Almonte" required/>
        <span class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password"><span th:text="#{login.pss}"></span></label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" name="password"
               placeholder="Entre el Password"/>
        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="passwordConfirm"><span th:text="#{signup.pss.repeat}"></span></label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
               placeholder="Repita el Password"/>
        <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
              th:errors="*{passwordConfirm}"></span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary"><span th:text="#{signup.send}"></span></button>
      </div>
    </div>
  </form>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>
